In [5]:
import requests
from pathlib import Path
from constants import *
from cfg import *

In [2]:
BASE_FILE_DIR.mkdir(parents=True, exist_ok=True)

In [6]:
m_path = BASE_FILE_DIR / "sales_data.csv"

In [17]:
r = requests.get(OLTP_URL)

In [20]:
r.encoding = "utf-8"

In [21]:
with open(m_path, "w") as f_out:
    f_out.write(r.text)

In [24]:
import pandas as pd
df = pd.read_csv(m_path)
df.head()

   6739  76305   230  1  2020-09-05 16:20:03
0  7460  81008  1455  4  2020-09-05 16:20:04
1  6701   7556  1159  2  2020-09-05 16:20:05
2  8021  36492  3727  2  2020-09-05 16:20:06
3  6442  11282  4387  5  2020-09-05 16:20:07
4  5643  36216  1619  1  2020-09-05 16:20:08

In [25]:
ccc = (
    "hpop;a mama"
)
print(ccc)

hpop;a mama